<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodrecipe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.food_recipe.foodrecipe.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/healthy_eating"
        android:label="@string/app_name"
        android:roundIcon="@drawable/healthy_eating"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodRecipe"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.food_recipe.foodrecipe.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.food_recipe.foodrecipe.ui.DetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Details"
            android:label="Details"
            />

        <activity
            android:name="com.example.food_recipe.foodrecipe.ui.SplashActivity"
            android:theme="@style/SplashScreenStyle"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>